# Supabase Client (Web/Mobile)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase Server/Admin
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROD_DB_URL=
SUPABASE_PROD_DB_USER=
SUPABASE_PROD_DB_PASSWORD=
SUPABASE_SSL_CERT_PATH=./certs/supabase-ca.crt

# Vercel Configuration (Optional)
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
